.mom-head {
    font-size: 24px;
}

.mom-btn {
    color: #fff;
    background-color: #3B5998;
    cursor: pointer;
    border: none;
    padding:3%;
    font-weight: 400;
    width: 135px;
    height: 35px;
    border-radius: 4px;
}

.momHead-wrapper{
    margin-top: 2%;
    margin-bottom: 2%;
}
#search-bar {
    border-radius: 0px;
    background: #FAFAFA;
}
.share-icon{
    color: #888888;
    margin-left: 5px;
}
.points-counter{
    margin-right: 3px;
}
.points-container-field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;
    padding: 6px;
}                  
.share-with-wrapper{
    width: 10%;
    position: absolute;
    margin-top: 7%;
}
       
.points-area{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}