.mom-head {
    font-size: 24px;
}

.mom-btn {
    font-weight: 400;
    padding:8px 16px;
    background-color: #3B5998;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.momHead-wrapper{
    margin-top: 2%;
    margin-bottom: 2%;
}
#search-bar {
    border-radius: 0px;
    background: #FAFAFA;
}
.share-icon{
    color: #888888;
    margin-left: 5px;
}
.points-counter{
    margin-right: 3px;
}
.points-container-field{
    text-align: justify;
    padding: 6px;
    background-color: white;
    overflow-y: auto;
    height: 55vh;
    word-break: break-word;
}                  
.share-with-wrapper{
    margin-top: -3%;
    width: 13%;
}
.width-91{
    width:91%
}    
.points-area{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}
mark{
    border-radius: 4px;
    background-color: yellow;
}
.match-text{
    color: #000000;
    background-color: yellow;

}
.divider-margin-5{
    margin: 5px 0;
}
.margin-top-10{
    margin-top: 10px;
}
/* share modal */
.main-modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    background: #00000050;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}
.close-icon{
    top: 7px;
    right: 10px;
    width: 1vw;
}
.ui.button.submit-btn{
    width: 30%;
    font-weight: 300;
    background: #3B5998;
    color: #ffffff;
    padding: 9px 32px;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    color: white;
    float: right;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}
.notice-text{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}
.modal-wrapper{
    width: 30%;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    padding: 20px;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}