.sidenavContainer {
    padding: 1rem;
    border-right: 1px solid #a7a7a7;
    height: 90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .createProjectButton button {
    border: none;
    background-color: #3b5998;
    border-radius: 8px;
    padding: 0.4rem 2rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .createProjectDrop{
    width: 15rem;
  }
  
  .sidenavLinkStyle {
    display: flex;
    font-size: 17px;
    align-items: center;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    user-select: none;
    margin: 0.25rem 0;
    border-radius: 4px;
    color: #575757;
  }
  .sidenavLinkStyle:hover {
    display: flex;
    font-size: 17px;
    align-items: center;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    user-select: none;
    background-color: #3b599826;
  }
  .sidenavLinkActive {
    display: flex;
    font-size: 17px;
    align-items: center;
    padding: 0.3rem 0.5rem;
    background-color: #3b599826;
    color: #3b5998;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
  }
  
  .upgradeButton button {
      background-color: #f9be26;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
    }
    .upgradeButton button img {
      height: 14px;
      margin-right: 0.5rem;
    }