.headerContainer {
    display: flex;
    border-bottom: 1px solid #a7a7a7;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  .logoContainer img {
    height: 1.5rem;
  }
  
  .upgradeButton button {
    background-color: #f9be26;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }
  .upgradeButton button img {
    height: 14px;
    margin-right: 0.5rem;
  }
  .upgradeButton {
    margin-right: 1rem;
  }
  
  .navbarIcons {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    position: relative;
  }
  
  .profileImageContainer {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
  }
  .profileImageContainer img {
    height: 100%;
  }
  
  .dropDownLinks {
    display: flex;
    align-items: center;
    color: #444444;
  }
  