.mom-head {
    font-size: 24px;
}

.mom-btn {
    color: #fff;
    background-color: #3B5998;
    cursor: pointer;
    border: none;
    padding: 1%;
    width: 110px;
    height: 30px;
}

.momHead-wrapper{
    margin-top: 2%;
    margin-bottom: 2%;
}

#search-bar {
    border-radius: 4px;
    background: #FAFAFA;
}

.drafts-tab {
    padding-bottom: 3%;
    font-size: 18px;
    font-weight: 500;
    color: #3B5998;
    cursor: pointer;
    border-bottom: 1px solid #3B5998 ;
}
.sents-tab {
    padding-bottom: 3%;
    cursor: pointer;
    font-size: 18px;
}

.table-row{
      border: 2px solid #DFDFDF;
      margin-bottom: 2;
  }
  .table-row:hover{
    cursor: pointer;
    background: rgba(59, 89, 152, 0.1);
  }
  .margin-right-10{
    margin-right: 10px;
  }
 .content-table{
    border-spacing: 0 15px;
    border-collapse:separate;
 }
 .padding-r-30{
    padding-right: 30px;
 }
 
 .checkbox-field{
    margin-right: 5%;
 }

 .threedots{
   margin-left: 4%;
 }
 .date-cell{
     border-left:1px solid  #DFDFDF;
    border-right:0
}
.points-cell{
    border-left:0;
    border-right:1px solid #DFDFDF; 
 }
 .points-field{
    border: 0;
    outline: 0;
 }
 .share-del-wrapper{
    top: 30%;
    right:30px;
    position: absolute;
 }