.mom-head {
    font-size: 24px;
}
.mom-button{
    font-weight: 400;
    padding:8px 16px;
    background-color: #3B5998;
    color: #fff;
    border: none;
    cursor: pointer;
}
.momHead-wrapper{
    margin-top: 2%;
    margin-bottom: 2%;
}

#search-bar {
    background: #FAFAFA;
}
.drafts-tab {
    padding-bottom: 3%;
    font-size: 14px;
    font-weight: 500;
    color: #3B5998;
    cursor: pointer;
    border-bottom: 1px solid #3B5998 ;
}
.sents-tab {
    padding-bottom: 3%;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

.table-row{
      border: 1px solid #DFDFDF;
      margin-bottom: 4px;
      padding:0 3px 
  }
  .table-row:hover{
    cursor: pointer;
    background: rgba(59, 89, 152, 0.1);
  }
  .margin-right-10{
    margin-right: 10px;
  }
 .content-table{
    border-spacing: 0 15px;
    border-collapse:separate;
 }
 .padding-r-30{
    padding-right: 30px;
 }
 .checkbox-field{
    margin-right: 5%;
 }
 .threedots{
   margin-left: 4%;
 }
 .checkbox-cell{
     border-left:1px solid  #DFDFDF;
    border-right:0;
    padding-left: 7px;
    width:3%
}
.points-cell{
    border-left:0;
    border-right:1px solid #DFDFDF; 
 }
 .share-del-wrapper{
    background: white;
    border-radius: 5px;
    padding: 2px;
    width: 6%;
    top: 30%;
    right:30px;
    position: absolute;
    box-shadow: 9px 9px 8px -3px rgba(136,136,136,0.66);
 }
 .table-heading{
     color:#444444;
     font-size: 12px;
     font-weight: 500;
 }
 .table-data{
    width:20%;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
 }
 .share-icon{
    color: #888888;
}
.add-mom-bg{
    display: flex;
    width: 35%;
    background: #F0F0F0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.add-mom-img{
    width: 2vw;
}

.width-19{
    width: 19%;
}
.width-11{
    width: 11%;
}
.width-17{
    width: 17%;
}
.width-16{
    width: 16%;
}
.width-24{
    width: 24%;
}
.width-18{
    width: 17%;
}
.circle{
    width: 10px;
}
.threedots-btn:hover{
    background-color: rgba(59, 89, 152, 0.1);
}
