*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-navbar{
    max-width: 100%;
    width: 1920px;
    height: 10vh;
}
.side-navbar{
    width: 20vw;
    height: 90vh;
    top:96px;
}
.width-75{
    width: 75%;
}
.width-50{
    width: 50%;
}

.font-w-500{
    font-family: 500;
}
.d-flex{
    display: flex;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.border-radius-none{
    border-radius: 1px;
}
.h-fit-content{
    height: fit-content;
}
.font-family-Inter{
    font-family: Inter;
}
.text-align-left{
    text-align: left;
}
.text-align-center{
    text-align: center;
}
.height-10{
    height: 8vh;
}
.m-auto{
    margin:auto;
}
.margin-left-3{
 margin-left: 3%;
}
.border-cells{
    border-top: 1px solid  #DFDFDF;
    border-bottom: 1px solid  #DFDFDF;
}
.width-15{
    width: 15%;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}