.email-wrapper{
    background-color: white;
    margin: 3px 2px;
}
.submitbtn-mob{
    color: #ffffff;
    padding: 5px 50px;
    font-size: 14px;
    border: 2px solid #3B5998;
  }
  .save-draft-btn{
    color: #3B5998;
    font-size: 14px;
    background-color: #ffffff;
    padding: 5px 30px;
    border: 2px solid #3B5998;
}
.label-text{
    font-size: 13px;
    font-weight: 400;
    color:#444444;
}
  /* ////---- */
  .email-container {
    display: flex;
    min-height: 6vh;
    padding: 0 5px;
  }
  .email-input-mobile{
          width: 50%;
          border: none;
          border-radius: 4px;
          height: 4vh;
          font-size: 14px;
          padding: 4px 0 0 4px ;
  }
  .email-input-mobile:hover{
    border-color: #3B5998 !important;
}
  input:focus{
    border: 1px solid #3B5998;
  }
  .tags-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    align-items: left;
  }
  .email-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    color: #000000;
    padding: 0 8px;
    font-size: 14px;
    list-style: none;
    border-radius: 25px;
    background: #fff;
  }
  
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #888888;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
  .margin-left-15{
    margin-left: 15%;
  }