.edit-icon{
    font-size: 20px;
    color: #3B5998;
}
.doublevector-icon{
    font-size: 2rem;
    color: #888888;
}
.mom-head {
    font-size: 17px;
}
.divider-bar{
    color: #DFDFDF;
    font-size: 2rem;
    margin: -10% 0;
}
.title-font-size{
    font-size: 1rem;
}
i.search.icon{
    font-size: 18px;
    color: #888888;
}
.drafts-tab {
    font-size: 14px;
    font-weight: 500;
    color: #3B5998;
    padding-bottom: 3%;
    cursor: pointer;
    border-bottom: 1px solid #3B5998 ;
}

.sents-tab {
    padding-bottom: 3%;
    cursor: pointer;
    font-size: 14px;
    color: #888888;
    font-weight: 500;
}
.mom-layout{
    font-size: 12px;
    padding: 3px 7px;
    text-align: center;
    background: rgba(59, 89, 152, 0.2);
}
.mom-field:hover{
    cursor: pointer;
    background: rgba(59, 89, 152, 0.2);
}
.mom-points{
    padding: 3%;
    color: #888888;
    overflow-wrap: anywhere;
}
.as-on{
    font-size: 12px;
    background: rgba(59, 89, 152, 0.2);
    padding: 3px 7px;
    text-align: center;
}
.momdata-wrapper{
    overflow-y: scroll;
    height: 66vh;
}
a,a:hover{
    text-decoration: none;
}
.search-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
}
.search-text{
    width:2rem;
    border-radius: 5rem;
    border: none;
    opacity: 0;
    transition: all 0.2s ease-out;
}
.search-btn{
    position: absolute;
    right: 0.5rem;
    border: none;
    background: none;
}
/* .search-box:hover> .search-text */
.open-state
{
    transition: all 0.2s;
    transition-duration: 0.5s;
    border-radius: 15px;
    width:20rem;
    padding:7px;
    opacity: 1;
    border: 1px solid #888888;
}
.circum-close-icon{
    opacity: 0.5;
    font-size: 20px;
}
.right-0{
    right:-1px
}
.addMomImg
{
    width: 10vw;
}
.add-mom-Bg{
    display: flex;
    width: 38%;
    background: #F0F0F0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.main-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: hsla(0,0%,100%,.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.modals-wrapper{
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    padding: 20px;
    background-color: white;
    box-shadow: 0 20px 75px rgba(0 0 0 /13%);
}
.ui.button.yes-btn{
    border: 1px solid #888;
    color: #888;
    background-color: #ffffff;
    border-radius: 4px;
}
.ui.button.no-btn{
    border: 1px solid #176091;
    background-color: #176091;
    color: #ffffff;
    border-radius: 4px;
}
.notice-text{
    color: #666;
}